
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class="formtable" >
<table style="  width: 50%;">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <tr>
  <td>
  <div class="field">
    <%= f.label :email %><br />
    </td><td>
    <%= f.email_field :email, autofocus: true %>
   
  </div>
  </td>
  </tr>

  <tr>
  <td>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  </td>
  </tr>


  <tr>
  <td colspan= 2>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    </td>
    </tr>
    <tr>
  <td>
  Pasword
  </td>
  <td>
    <%= f.password_field :password, autocomplete: "off" %>
  </td>
  </tr>
    <% if @minimum_password_length %>
    <tr>
  <td colspan= 2>
      <em><%= @minimum_password_length %> characters minimum</em>
      </td>
      </tr>
      <% end %>
  </div>
 

  <div class="field">
  <tr>
  <td >
    <%= f.label :password_confirmation %>
    </td>
    <td >
    <%= f.password_field :password_confirmation, autocomplete: "off" %>    
    </td>
    </div>
  </tr>
 
  <tr>
  <td >
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    </td>
    <td >
    <%= f.password_field :current_password, autocomplete: "off" %>
    </td>
  </div>
  </tr>

  <tr>
  <td></td>
  <td align="right">
  <div class="actions" >
    <%= f.submit "Update" %>
  </div>
  </td>
  </tr>
<% end %>
</table>
<div>
<div align="center">
<h3>Delete my account</h3>
<table style="  width: 50%;">
<tr>
<td>
Unhappy?
</td>
<td align="right">
<%= button_to "Delte my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</td>
</tr>
<tr>
<td></td>
<td align="right">
<%= link_to "Back", :back %>
</td>
</tr>
</table>
</div>


