<%= form_for(@nachricht) do |f| %>
  <% if @nachricht.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nachricht.errors.count, "error") %> prohibited this nachricht from being saved:</h2>

      <ul>
      <% @nachricht.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_id %><br>
    <%= f.text_field :sender_id %>
  </div>
  <div class="field">
    <%= f.label :empfaenger_id %><br>
    <%= f.text_field :empfaenger_id %>
  </div>
  <div class="field">
    <%= f.label :nachricht %><br>
    <%= f.text_area :nachricht %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
