<p id="notice"><%= notice %></p>

<h1>Listing Nachrichts</h1>

<table>
  <thead>
    <tr>
      <th>&nbsp;</th> <!-- seen status -->
      <th>Datum</th>
      <th>Sender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nachrichts.each do |nachricht| %>
      <tr class="<%= nachricht.read ? :read : :unread %>">
        <td class="seen-status <%= nachricht.seen ? :seen : :unseen %>"></td>
        <td><%= nachricht.created_at < Date.yesterday ? nachricht.created_at : ( time_ago_in_words(nachricht.created_at) + " ago") %></td>
        <td><%= nachricht.sender %></td>
        <td><%= link_to 'Show', nachricht %></td>
        <td><%= link_to 'Delete', nachricht, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
