<div class="formtable">
<p>
<strong>Sender:</strong><br/>
  <%= @nachricht.sender %>
</p>

<p>
<strong>Empfaenger:</strong><br>
  <%= @nachricht.empfaenger %>
</p>

<p>
  <strong>Nachricht:</strong>
  <br/>
  <pre><%= @nachricht.nachricht %></pre>
</p>
</div>

<div class="buttonlist">
  <ul>
    <li><%= link_to t('back'), :back %></li>
    <li><%= link_to t('.reply'), new_nachricht_path(empfaenger: @nachricht.sender) %></li>
  </ul>
</div>
