<%= form_for(@mitfahrer) do |f| %>
  <% if @mitfahrer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mitfahrer.errors.count, "error") %> prohibited this mitfahrer from being saved:</h2>

      <ul>
      <% @mitfahrer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# Nicht benötigt, da ja nur über die Fahrten neue Mitfahrer erstellt werden %>
  <!-- <div class="field"> -->
    <!-- <%= f.label :fahrt_id %><br> -->
    <%= f.hidden_field :fahrt_id %>
  <!-- </div> -->
  <h2>
    <%= @mitfahrer.fahrt.to_s%>
  </h2>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.hidden_field :account_id %>
    <%= @mitfahrer.account.to_s%>
  </div>
  <% if current_account.id == @mitfahrer.account.id and @mitfahrer.id != nil %>
    <div class="field">
      <%= f.label :fahrerbewertung %><br>
      <%= f.number_field :fahrerbewertung, min: 0, max: 5 %>
    </div>
  <% end %>
  <% if current_account.id == @mitfahrer.fahrt.account.id and @mitfahrer.id != nil %>
    <div class="field"> 
      <%= f.label :mitfahrerbewertung %><br>
      <%= f.number_field :mitfahrerbewertung, min: 0, max: 5 %>
    </div>
    <div class="field">
      <%= f.label :istBestatigt %><br>
      <%= f.check_box :istBestatigt %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
