<% if @summary %>
    <p id="summary"><span>Fahrt:</span> <%= link_to @summary, @summary %></p>
<% end %>
<table>

  <thead>

    <% unless @summary %>
    <th>Von</th>
    <th>Nach</th>
    <th>Abfahrt</th>
    <% end %>

    <% if @counterpart %>
      <th><%= @counterpart.to_s.capitalize %></th>
    <% end %>

    <th>Bestätigt</th>
    <th>Aktionen</th>

  </thead>

  <tbody>

    <% @mitfahrts.each do |fahrt, mitfahrers| %>
      <% span = mitfahrers.size %>
      <% mitfahrers.each.with_index do |mitfahrer, i| %>
        <tr>

          <% unless @summary %>
            <% if i == 0 %>
              <td rowspan="<%= span %>"><%= fahrt.von %></td>
              <td rowspan="<%= span %>"><%= fahrt.nach %></td>
              <td rowspan="<%= span %>"><%= fahrt.abfahrt %></td>
            <% end %>
          <% end %>

          <% if @counterpart %>
            <td><%= mitfahrer_counterpart(mitfahrer) %></td>
          <% end %>

          <td>
            <span class="mark <%= mitfahrer.istBestatigt ? 'marked' : '' %>">
              <%= link_to_if(mitfahrer.fahrt.account == current_account, mitfahrer_bestaetigen_path(mitfahrer), method: (mitfahrer.istBestatigt ? :delete : :post), remote: true) do%>
                <div class=markLocked>&nbsp;</div>
              <% end %>
            </span>
          </td>

          <td class="actions">
            <%= link_to "Anzeigen", mitfahrer_path(mitfahrer) %>

            <% if mitfahrer.fahrt.account == current_account %>
              <%= link_to "Bearbeiten", edit_mitfahrer_path(mitfahrer) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
