<p id="notice"><%= notice %></p>

<h1>Mitfahrt</h1>

<div class="formtable" > 
<table style="width:30%;">
<tr>
<td>
  <strong>Fahrt:</strong>
  <% if @mitfahrer.fahrt %>
  </td>
  <td align="right">
    <%= link_to @mitfahrer.fahrt, fahrt_url(@mitfahrer.fahrt.id) %>
    </td>
  <% end %>
 
  </tr>

  <tr>
  <td>
  <strong>Account:</strong>
  </td>
  <td align="right">
  <%= @mitfahrer.account %>
  </td>
  </tr>

  <tr>
  <td>
  <strong>Mitfahrerbewertung:</strong>
  </td>
  <td align="right">
  <%= @mitfahrer.mitfahrerbewertung %>
  </td>
  </tr>

  <tr>
  <td>
  <strong>Fahrerbewertung:</strong>
  </td>
  <td align="right">
  <%= @mitfahrer.fahrerbewertung %>
  </td>
  </tr>

  <tr>
  <td>
  <strong>Istbestatigt:</strong>
  </td>
  <td align="right">
  <%= @mitfahrer.istBestatigt %>
</td>
</tr>

</table>
</div>
<%= link_to 'Edit', edit_mitfahrer_path(@mitfahrer) %> |
<%= link_to 'Back', mitfahrers_path %>
