<table>
  <thead>
    <tr>
      <th><%= t('fahrts.from') %></th>
      <th><%= t('fahrts.to') %></th>
      <th><%= t('fahrts.departure') %></th>
      <% if @options[:details] %>
        <th><%= t('fahrts.duration') %></th>
        <th><%= t('fahrts.price') %></th>
        <th><%= t('fahrts.seats') %></th>
      <% end %>
      <% if @options[:account] %>
        <th><%= t('fahrts.account') %></th>
      <% end %>
      <% if @options[:marked] %>
      <th><%= t('fahrts.marked') %></th>
      <% end %>
      <th><%= t('fahrts.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @fahrts.each do |fahrt| %>
      <tr>
        <td><%= fahrt.von %></td>
        <td><%= fahrt.nach %></td>
        <td><%= fahrt_abfahrt_format(fahrt.abfahrt) %></td>
        <% if @options[:details] %>
          <td><%= (fahrt.dauer / 60.0) %> h</td>
          <td><%= "%.2f" % (fahrt.preisProMitfahrer / 100.0) %> €</td>
          <td style="text-align:center;"><%= fahrt.maxMitfahrer %></td>
        <% end %>
        <% if @options[:account] %>
        <td><%= link_to fahrt.account, fahrt.account %></td>
        <% end %>
        <% if @options[:marked] %>
          <td>
            <% if fahrt.istGespeichert %>
            <input type="image" src="/hacken.png" width="22px" height="22px" alt="Y">
              <%= link_to sanitize('&times;'), fahrt_speichern_path(fahrt), method: :delete, remote: true %>
            <% else %>
              <input type="image" src="/loeschen.png" width="22px" height="22px" alt="N">
              <%= link_to 'Speichern', fahrt_speichern_path(fahrt), method: :post, remote: true %>
            <% end %>
          </td>
        <% end %>
        <% if @options[:new_from_marked] %>
          <td class="actions"><%= link_to "Erneut Fahren", new_fahrt_path(fahrt: fahrt) %></td>
        <% else %>
          <td class="actions">
            <%= link_to 'Show', fahrt %>
            <% if current_account.id == fahrt.account.id %>
              <%= link_to 'Edit', edit_fahrt_path(fahrt) %>
              <%= link_to 'Destroy', fahrt, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <%= link_to 'Mitfahren', new_mitfahrer_path(fahrt: fahrt) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
