<table>
  <thead>
    <tr>
      <th>Von</th>
      <th>Nach</th>
      <th>Dauer</th>
      <th>Preispromitfahrer</th>
      <th>Maxmitfahrer</th>
      <% unless @listSaved %>
        <th>Account</th>
        <th>Gepeichert</th>
      <% end %>
      <th>Aktionen</th>
    </tr>
  </thead>

  <tbody>
    <% @fahrts.each do |fahrt| %>
      <tr>
        <td><%= fahrt.von %></td>
        <td><%= fahrt.nach %></td>
        <td><%= fahrt.dauer %></td>
        <td><%= fahrt.preisProMitfahrer %></td>
        <td><%= fahrt.maxMitfahrer %></td>
        <% unless @listSaved %>
          <td><%= fahrt.account %></td>
          <td>
            <% if fahrt.istGespeichert %>
              :y:
              <%= link_to sanitize('&times;'), fahrt_speichern_path(fahrt), method: :delete %>
            <% else %>
              :n:
              <%= link_to 'Speichern', fahrt_speichern_path(fahrt), method: :post %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to 'Show', fahrt %>
          <% if current_account.id == fahrt.account.id %>
            <%= link_to 'Edit', edit_fahrt_path(fahrt) %>
            <%= link_to 'Destroy', fahrt, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            <%= link_to 'Mitfahren', new_mitfahrer_path(fahrt: fahrt) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
