<table>
  <thead>
    <tr>
      <th>Von</th>
      <th>Nach</th>
      <th>Abfahrt</th>
      <th>Dauer</th>
      <th>Preispromitfahrer</th>
      <th>Maxmitfahrer</th>
      <% if @options[:account] %>
        <th>Account</th>
      <% end %>
      <% if @options[:marked] %>
      <th>Gepeichert</th>
      <% end %>
      <th>Aktionen</th>
    </tr>
  </thead>

  <tbody>
    <% @fahrts.each do |fahrt| %>
      <tr>
        <td><%= fahrt.von %></td>
        <td><%= fahrt.nach %></td>
        <td><%= fahrt.abfahrt %></td>
        <td><%= fahrt.dauer %></td>
        <td><%= fahrt.preisProMitfahrer %></td>
        <td><%= fahrt.maxMitfahrer %></td>
        <% if @options[:account] %>
        <td><%= fahrt.account %></td>
        <% end %>
        <% if @options[:marked] %>
          <td>
            <% if fahrt.istGespeichert %>
              :y:
              <%= link_to sanitize('&times;'), fahrt_speichern_path(fahrt), method: :delete, remote: true %>
            <% else %>
              :n:
              <%= button_to 'Speichern', fahrt_speichern_path(fahrt), method: :post, remote: true %>
            <% end %>
          </td>
        <% end %>
        <% if @options[:new_from_marked] %>
          <td><%= button_to "Erneut Fahren", new_fahrt_path(fahrt: fahrt), method: :get %></td>
        <% else %>
          <td>
            <%= button_to 'Show', fahrt , method: :get %>
            <% if current_account.id == fahrt.account.id %>
              <%= button_to 'Edit', edit_fahrt_path(fahrt) %>
              <%= button_to 'Destroy', fahrt, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <%= button_to 'Mitfahren', new_mitfahrer_path(fahrt: fahrt) , method: :get%>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
