<h1>Meine Fahrten</h1>

<div class="actions">
<p>
<%= link_to "Zu Mitfahrern wechseln", mitfahrers_path %>

<% if params[:show_all] == "true" %>
<%= link_to t('fahrts.past.hide'), fahrts_path() %>
<% else %>
<%= link_to t('fahrts.past.show'), fahrts_path(show_all: true) %>
<% end %>
</p>
</div>

<%= render 'list' %>

<br>

<div class="actions">
<%= link_to 'Neue Fahrt', new_fahrt_path %>
</div>
