<h1>Fahrtensuche</h1>
<div class="fahrtensucheform" style="padding: 5px;"> 
<%= form_tag fahrts_search_path, method: :get do %>
  <%= text_field_tag :von, params[:von], placeholder: 'Von...' %>
  <%= text_field_tag :nach, params[:nach], placeholder: 'Nach...' %>
  <%= submit_tag 'Suchen' %>
<% end %>

<div style="padding-top: 15px;">
<% if @hide_table %>
  <% if @notice %>
    <%= @notice %>
  <% end %>
<% else %>
  <%= render 'list' %>
<% end %>
</div>

</div>
