<h1>Fahrt von <%= @fahrt.von %> nach <%= @fahrt.nach %></h1>
<div class="formtable" > 
<table style="width:30%;">
<tr>
<td>
  <strong>Von:</strong>
  </td>
  <td align="right">
  <%= @fahrt.von %>
  </td>
</tr>

<tr>
<td>
  <strong>Nach:</strong>
  </td>
  <td align="right">
  <%= @fahrt.nach %>
  </td>
</tr>
  
<tr>
<td>
  <strong>Fahrer:</strong>
  </td>
  <td align="right">
  <%= link_to @fahrt.account, account_url(@fahrt.account) %>
  </td>
</tr>

<tr>
<td>
  <strong>Abfahrt:</strong>
  </td>
  <td align="right">
  <%= @fahrt.abfahrt %>
  <td>
  </tr>

<tr>
<td>
  <strong>Dauer:</strong>
  </td>
  <td align="right">
  <%= (@fahrt.dauer || 0) / 60 %> h
  </td>
</tr>

<tr>
<td>
  <strong>Preispromitfahrer:</strong>
  </td>
  <td align="right">
  <%= "%.2f" % ((@fahrt.preisProMitfahrer || nil) / 100) %> €
  </td>
</tr>

<tr>
<td>
  <strong>Maxmitfahrer:</strong>
  </td>
  <td align="right">
  <%= @fahrt.maxMitfahrer %>
  </td>
</tr>

<tr>
<td>
  <strong>Anzahl bestätigter Mitfahrer:</strong>
  </td>
  <td align="right">
  <%= @total %>
  </td>
</tr>

<tr>
<td>
  <strong>Anfragen:</strong>
  </td>
  <td></td>
</tr>
  <% @anfragen.each do |anfrage| %>
    <% if anfrage.account %>
    <tr>
    <td></td>
    <td>
       <%= link_to anfrage.account.to_s, edit_mitfahrer_path(anfrage.id) %>
      </td>
      </tr>
    <% end %>
  <% end %>
  </td>
</tr>

</table>
</div>
<div class="buttonlist"> 
<ul >
<% if @fahrt.account == current_account %>
<li><%= link_to 'Mitfahrer anzeigen', mitfahrers_path(fahrt: @fahrt) %></li>
<% else %>
<li><%= link_to 'Mitfahren', new_mitfahrer_path(fahrt: @fahrt)%></li>
<% end %>

<li><%= link_to 'Edit', edit_fahrt_path(@fahrt) %> </li>
<li><%= link_to t('back'), back %></li>
</ul>
</div>
