<p id="notice"><%= notice %></p>

<p>
  <strong>Von:</strong>
  <%= @fahrt.von %>
</p>

<p>
  <strong>Nach:</strong>
  <%= @fahrt.nach %>
</p>

<p>
  <strong>Fahrer:</strong>
  <%= link_to @fahrt.account, account_url(@fahrt.account) %>
</p>

<p>
  <strong>Abfahrt:</strong>
  <%= @fahrt.abfahrt %>
</p>

<p>
  <strong>Dauer:</strong>
  <%= @fahrt.dauer %>
</p>

<p>
  <strong>Preispromitfahrer:</strong>
  <%= @fahrt.preisProMitfahrer %>
</p>

<p>
  <strong>Maxmitfahrer:</strong>
  <%= @fahrt.maxMitfahrer %>
</p>

<p>
  <strong>Anzahl bestätigter Mitfahrer:</strong>
  <%= @total %>
</p>

<p>
  <strong>Anfragen:</strong>
  <% @anfragen.each do |anfrage| %>
    <% if anfrage.account %>
      <%= link_to anfrage.account.to_s, edit_mitfahrer_path(anfrage.id) %>
    <% end %>
  <% end %>
</p>


<% if @fahrt.account == current_account %>
  <%= link_to 'Mitfahrer anzeigen', mitfahrers_path(fahrt: @fahrt)%>
<% else %>
  <%= link_to 'Mitfahren', new_mitfahrer_path(fahrt: @fahrt) %>
<% end %>

<%= link_to 'Edit', edit_fahrt_path(@fahrt) %> |
<%= link_to 'Back', fahrts_path %>
