<!DOCTYPE html>
<html>
<head>
  <title>Padaca</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if account_signed_in? %>
    <%= current_account %>
    <%= link_to 'Logout', destroy_account_session_path, method: :delete %>
    <%= link_to "Change your password", edit_account_registration_path %>
    <%= link_to "Update your account", edit_account_path(current_account.id) %>
<% else %>
  <%= link_to 'Login', new_account_session_path %>
<% end %>

<%= yield %>

</body>
</html>
