<!DOCTYPE html>
<html>
<head>
  <title>Padaca</title>
<link rel="apple-touch-icon" sizes="180x180" href="/favicon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon.png">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
<div class="header">
<div class="lists">
<% if account_signed_in? %>
  <ul>  
    <li><%= link_to 'Fahrt suchen', fahrts_search_path%></li>
    <li><%= link_to 'Meine Mitfahrten', mitfahrers_self_path%> </li>
    <li><%= link_to 'Meine Fahrten', fahrts_path%> </li>
    <li><%= link_to 'Accounts', accounts_path%></li>
    <li class="<%= unread_nachrichts_class %>"><%= link_to 'Nachrichten', nachrichts_path%></li>
  </ul>
<% end %>
</div>
<div class="login">
<ul> 
<% if account_signed_in? %>
<li><%= link_to current_account, account_url(current_account.id) %></li>
<li><%= link_to 'Logout', destroy_account_session_path, method: :delete %></li>
<li><%= link_to "Change your password", edit_account_registration_path %></li>
<li><%= link_to "Update your account", edit_account_path(current_account.id) %></li>
<% else %>
<li><%= link_to 'Login', new_account_session_path %>
<% end %>
</div>
</div>

<div class="content">
<%= yield %>
</div>

<div class="footer">
<div class="footerlist">
<ul>  
<li>
<a href="/impressum.html">Impressum</a></li>
</ul>
</div>
</div>

</div>
</body>
</html>
