<!DOCTYPE html>
<html>
<head>
  <title>Padaca</title>
<link rel="apple-touch-icon" sizes="180x180" href="/favicon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon.png">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
<div class="header">
<div class="lists">
<% if account_signed_in? %>
  <ul>  
    <li><%= link_to t('app.menu.search'), fahrts_search_path%></li>
    <li><%= link_to t('app.menu.mitfahrts'), mitfahrers_self_path%> </li>
    <li><%= link_to t('app.menu.fahrts'), fahrts_path%> </li>
    <li><%= link_to t('app.menu.accounts'), accounts_path%></li>
    <li class="<%= unread_nachrichts_class %>"><%= link_to t('app.menu.nachrichts'), nachrichts_path%></li>
  </ul>
<% end %>
</div>
<div class="login">
<ul> 
<% if account_signed_in? %>
<li><%= link_to current_account, account_url(current_account.id) %></li>
<li><%= link_to t('app.account.logout'), destroy_account_session_path, method: :delete %></li>
<li><%= link_to t('app.account.change_pw'), edit_account_registration_path %></li>
<li><%= link_to t('app.account.update_details'), edit_account_path(current_account.id) %></li>
<% else %>
    <li><%= link_to t('app.account.login'), new_account_session_path %></li>
<% end %>
</ul>
</div>
</div>

<div class="content">

    <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>

    <%= yield %>

</div>

<div class="footer">
<div class="footerlist">
<ul>  
<li>
<a href="/impressum.html">Impressum</a></li>
</ul>
</div>
</div>

</div>
</body>
</html>
