<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="formtable" >
  <table style="width:25%">
  <tr>
  <div class="field">
  <td>
    <%= f.label :vorname %>
  </td>
  <td align="right">
    <%= f.text_field :vorname %>
  </td>
  </div>
  </tr>
  <tr>
  <div class="field">
  <td>
    <%= f.label :nachname %>
    </td>
    <td align="right">
    <%= f.text_field :nachname %>
    </td>
  </div>
  </tr>
  <tr>
  <div class="field">
  <td>
    <%= f.label :geschlecht %>
    </td>
    <td align="right">
    <%= f.text_field :geschlecht %>
    </td>
  </div>
  </tr>
  <tr>
  <div class="field">
  <td>
    <%= f.label :standort %>
    </td>
    <td align="right">
    <%= f.text_field :standort %>
    </td>
  </div>
  </tr>
  <tr>
  <td> </td>
  </tr>
  <tr>
  <div class="actions">
  <td colspan=2 align="center">
    <%= f.submit %>
    </td>
  </div>
  </tr>
  </table>
  </div>
<% end %>
