<h1>Accounts</h1>

<div class="table-scrollable">
<table>
  <thead>
    <tr>
      <th>eMail</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Geschlecht</th>
      <th>Istmitarbeiter</th>
      <th>Fahrerbewertung</th>
      <th>Mitfahrerbewertung</th>
      <th>Standort</th>
      <th>IsActive</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.email %></td>
        <td><%= account.vorname %></td>
        <td><%= account.nachname %></td>
        <td><%= account.geschlecht %></td>
        <td><%= account.istMitarbeiter %></td>
        <td><%= account.fahrerbewertung %></td>
        <td><%= account.mitfahrerbewertung %></td>
        <td><%= account.standort %></td>
        <td><%= account.is_active %></td>
        <td class="actions"><%= link_to 'Show', account %></td>
        <td class="actions">
        <% if current_account.id == account.id %>
         <%= link_to 'Edit', edit_account_path(account) %>
        <% end %>
        </td>
        <% if current_account.istMitarbeiter && current_account.id != account.id %>
          <td class="actions"><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td class="actions">
          <% if account.is_active%>
              <%=link_to "deactivate", deactivate_path(account_id: account), method: :post, data: { confirm: "Are you sure?" } %>
          <% else %>
              <%=link_to "activate", activate_path(account_id: account), method: :post, data: { confirm: "Are you sure?" } %>
          <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

