<h1>Account <%= @account.email %></h1>
<div class="formtable" > 
<table>
<tr>
  <td><strong>Vorname:</strong></td>
  <td><%= @account.vorname %></td>
  </tr>

<tr>
  <td><strong>Nachname:</strong></td>
  <td><%= @account.nachname %></td>
</tr>

<tr>
  <td>
  <strong>Geschlecht:</strong>
  </td>
  <td>
  <%= @account.geschlecht %>
  </td>
  </tr>


<tr>
  <td>
  <strong>Fahrerbewertung:</strong>
  </td>
  <td>
  <%= @account.fahrerbewertung %>
  </td>
  </tr>

<tr>
  <td>
  <strong>Mitfahrerbewertung:</strong>
  </td>
  <td>
  <%= @account.mitfahrerbewertung %>
  </td>
  </tr>

<tr>
  <td>
  <strong>Standort:</strong>
  </td>
  <td>
  <%= @account.standort %>
  </td>
</tr>
</table>
</div>
  <div class="buttonlist">
    <ul>
    <li><%= link_to 'Nachricht schreiben', new_nachricht_path(empfaenger: @account) %></li>
    <li><%= link_to 'Edit', edit_account_path(@account) %></li>
    <li><%= link_to 'Back', :back %></li>
    </ul>
  </div>
